@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("assets/fonts/montserrat/Montserrat-Hairline.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("assets/fonts/montserrat/Montserrat-Light.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("assets/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("assets/fonts/montserrat/Montserrat-Black.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src: url("assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}
